.Loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
}
.Loader .LoaderIcon {
  animation: rotate 2s infinite ease-in-out;
  position: absolute;
  top: calc(50% - 43px);
  left: calc(50% - 43px);
}
.Loader.Active {
  display: block;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
